In [4]:
daum = 89000
naver = 751000
stock = (daum * 100) + (naver * 20)
print(stock)

23920000

In [22]:
minus = (daum * 0.05 * 100) + (naver * 0.1 * 20)
print('손실액: {}'.format(minus))

손실액: 1947000.0

In [10]:
F = 50
C = (F-32)/1.8
print(C)

10.0

In [13]:
name = 'pizza'
print(name * 10)

pizzapizzapizzapizzapizzapizzapizzapizzapizzapizza

In [23]:
start = 1000000
minus = 0.7
start = start * minus * minus * minus
print(start)

342999.99999999994

In [16]:
"""
다음 형식과 같이 이름, 생년월일, 주민등록번호를 출력하는 프로그램을 작성해 보세요. 
이름: 파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210
"""
name = '파이썬'
birth = "2014년 12월 12일"
number = "20141212-1623210"

print("이름: {}  생년월일: {}  주민번호: {} ".format(name, birth, number))

이름: 파이썬  생년월일: 2014년 12월 12일  주민번호: 20141212-1623210

In [25]:
"""
s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 
문자열의 슬라이싱 기능과 연결하기를 이용해 s의 값을 'KaKao Daum'으로 변경해 보세요.
"""

s = 'Daum KaKao'
s = s[5:] + " " + s[0:4]
print(s)

KaKao Daum